<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISchematic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UISchematicShowcase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57E4E22C1F191BB500BCD6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57E4E2351F191BB500BCD6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F209511F191C5E00CDEABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57F209641F191C5F00CDEABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
